# CH13 람다(lambda)와 맵

### make function

In [5]:
#-- function
def pow1(x):
    return x ** 2

#-- lambda
pow2 = lambda x: x**2

#
print(pow1(10))
print(pow2(10))

100
100

In [17]:
#-- assign a
a = 4

#
def func1(x):
    return 2 * x**2 - 3*x + 1

#-
func2 = lambda x: 2 * x**2 - 3*x + 1

#
print(func1(a))
print(func2(a))

21
21

In [20]:
#
add1 = lambda x, y: x + y
#
print((lambda x, y: x + y)(3, 5))
print(add1(3,5))

8
8

In [24]:
#--
x = 5
y = 6
z = 2

#
def func3(x, y, z):
    return x*y + z

#
func4 = lambda x, y, z: x*y + z

#
print(func3(x, y, z))
print(func4(x, y, z))
print((lambda x,y,z: x*y+z)(5,6,2))

32
32
32

In [25]:
#
def say_hello():
    print("hello")
    
say_hello()

hello

In [27]:
#--
def lower_three1(x):
    if x < 3:
        return x * 2
    else:
        return x/3 + 5

#    
print(lower_three1(3))

6.0

In [34]:
#
lower_three2 = lambda x: x * 2 if (x < 3) else (x/3 + 5)
#
print(lower_three2(3))

6.0

In [41]:
#--
a1 = 13
a2 = 32

#-
func5 = lambda x: x**2 - 40*x + 350 if x >= 10 and x < 30 else 50

#
def func5_1(x):
    if x >= 10:
        return x**2 - 40*x + 350
    else:
        return 50
#
print(func5_1(a1))
#--
print(func5(a1))
print(func5(a2))

-1
-1
50

### split

In [54]:
#--
test_sentence = "this  is a test sentence."

# split
test_sentence.split(" ")

['this', '', 'is', 'a', 'test', 'sentence.']

In [53]:
#
self_data = "My name is Yamada"

# split by " ""
word_list = self_data.split(" ")

#-
print(word_list[:2])
print(word_list[2])
print(word_list[3])
#word_list[3]

['My', 'name']
is
Yamada

In [4]:
# re
import re

#
test_sentence = "this,is a.test,sentence"

#--split w/  ","  " "  "."
#re.split("[,.]", test_sentence)
re.split("[, .]", test_sentence)

['this', 'is', 'a', 'test', 'sentence']

In [6]:
import re

#
time_data = "2017/4/1_22:15"

#
time_list = re.split("[/_:]",time_data)

#year
print(time_list[0])
#month
print(time_list[1])
#day
print(time_list[2])
#hours
print(time_list[3])

2017
4
1
22

### map

In [11]:
#
a = [1, -2, 3, -4, 5]
new = []
#
for x in a:
    new.append(abs(x))
print(new)


# map
a = [1, -2, 3, -4, 5]
print(list(map(abs, a)))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [14]:
import re

#--
time_list = [
    "2006/11/26_2:40",
    "2009/1/16_23:35",
    "2014/5/4_14:26",
    "2017/8/9_7:5",
    "2017/4/1_22:15"
]

#-- hour,,  int()::  string -> int
get_hour = lambda x: int(re.split("[/_:]",x)[3])

#
hour_list = list(map(get_hour, time_list))

#
print(hour_list)

[2, 23, 14, 7, 22]

In [19]:
#
a = [1, -2, 3, -4, 5]
new = []
for x in a:
    if x > 0:
        new.append(x)
print(new)

#-- lambda
a = [1, -2, 3, -4, 5]
print(list(filter(lambda x: x>0, a)))

[1, 3, 5]
[1, 3, 5]

In [20]:
import re

# "year/month/day_hour:minute"
time_list = [
    "2006/11/26_2:40",
    "2009/1/16_23:35",
    "2014/5/4_14:26",
    "2017/8/9_7:5",
    "2017/4/1_22:15"
]
#-- month
is_first_half = lambda x: int(re.split("[/_:]", x)[1]) - 7 < 0

# 
first_half_list = list(filter(is_first_half, time_list))

#
print(first_half_list)

['2009/1/16_23:35', '2014/5/4_14:26', '2017/4/1_22:15']

In [22]:
#
nest_list =[
    [0, 9],
    [1, 8],
    [2, 7],
    [3, 6],
    [4, 5]
]

#-- sorted
print(sorted(nest_list, key = lambda x: x [1]))
#
print(sorted(nest_list,key=lambda x: x[0]))

[[4, 5], [3, 6], [2, 7], [1, 8], [0, 9]]
[[0, 9], [1, 8], [2, 7], [3, 6], [4, 5]]

In [23]:
#
time_data = [
    [2006, 11, 26, 2, 40],
    [2009, 1, 16, 23, 35],
    [2014, 5, 4, 14, 26],
    [2017, 8, 9, 7, 5],
    [2017, 4, 1, 22, 15]
]

#
sort_by_time = sorted(time_data, key=lambda x: x[3])

#
print(sort_by_time)

[[2006, 11, 26, 2, 40], [2017, 8, 9, 7, 5], [2014, 5, 4, 14, 26], [2017, 4, 1, 22, 15], [2009, 1, 16, 23, 35]]

In [24]:
#--
a = [1, -2, 3, -4, 5]
print([abs(x) for x in a])

#
a = [1, -2, 3, -4, 5]
print(list(map(abs, a)))

[1, 2, 3, 4, 5]

In [26]:
#-
minute_data = [30, 155, 180, 74, 11, 60, 82]

#-
h_m_split = lambda x: [x // 60, x % 60]

#-
h_m_data = [h_m_split(x) for x in minute_data]

#-
print(h_m_data)

[[0, 30], [2, 35], [3, 0], [1, 14], [0, 11], [1, 0], [1, 22]]

In [27]:
#-
a = [1, -2, 3, -4, 5]
print([x for x in a if x > 0])

[1, 3, 5]

In [28]:
#-
minute_data = [30, 155, 180, 74, 11, 60, 82]

#-
just_hour_data = [x for x in minute_data if x % 60 == 0 ]

#
print(just_hour_data)

[180, 60]

In [29]:
#-- zip
a = [1, -2, 3, -4, 5]
b = [9, 8, -7, -6, -5]
for x, y in zip(a, b):
    print(x, y)

1 9
-2 8
3 -7
-4 -6
5 -5

In [30]:
#-list
a = [1, -2, 3, -4, 5]
b = [9, 8, -7, -6, -5]

print([x**2 + y**2 for x, y in zip(a, b)])

[82, 68, 58, 52, 50]

In [31]:
#-
hour   = [ 0,  2, 3,  1,  0, 1,  1]
minute = [30, 35, 0, 14, 11, 0, 22]

#-
h_m_combine = lambda x, y: x*60 + y

#-
minute_data1 = [h_m_combine(x, y) for x, y in zip(hour, minute)]

#
print(minute_data1)

[30, 155, 180, 74, 11, 60, 82]

In [35]:
a = [1, -2, 3]
b = [9, 8]

#-- same as zip
for x in a:
    for y in b:
        print(x, y)
#
for x,y in zip(a,b):
    print(x,y)

1 9
1 8
-2 9
-2 8
3 9
3 8
1 9
-2 8

In [36]:
#
a = [1, -2, 3]
b = [9, 8]

print([[x, y] for x in a for y in b])

[[1, 9], [1, 8], [-2, 9], [-2, 8], [3, 9], [3, 8]]

In [38]:
#
fours_place = [0, 1]
twos_place  = [0, 1]
ones_place  = [0, 1]

#-
digit = [x*4 + y*2 + z for x in fours_place for y in twos_place for z in ones_place]

#
print(digit)

[0, 1, 2, 3, 4, 5, 6, 7]

In [42]:
#
d = {}
lst = ["foo", "bar", "pop", "pop", "foo", "popo"]
for key in lst:
    #-
    if key in d:
        d[key] += 1
    else:
        d[key] = 1

print(d)

{'foo': 2, 'bar': 1, 'pop': 2, 'popo': 1}

In [40]:
from collections import defaultdict

#-- count redundancy
d = defaultdict(int)
lst = ["foo", "bar", "pop", "pop", "foo", "popo"]
for key in lst:
    d[key] += 1

print(d)

defaultdict(<class 'int'>, {'foo': 2, 'bar': 1, 'pop': 2, 'popo': 1})

In [46]:
from collections import defaultdict

#-
description = \
"Artificial intelligence (AI, also machine intelligence, MI) is " + \
"intelligence exhibited by machines, rather than " + \
"humans or other animals (natural intelligence, NI)."

#-
char_freq = defaultdict(int)

#-- count
for i in description:
    char_freq[i] += 1

#- sort,  top-10
print(sorted(char_freq.items(), key=lambda x: x[1], reverse=True)[:10])
print(sorted(char_freq.items(), key=lambda x: x[1], reverse=False)[:10])

#-- 
print(sorted(char_freq.items(), key=lambda x: x[0], reverse=False)[:10])

[(' ', 20), ('e', 18), ('i', 17), ('n', 14), ('l', 12), ('a', 11), ('t', 10), ('c', 7), ('h', 7), ('r', 6)]
[('f', 1), ('M', 1), ('x', 1), ('d', 1), ('y', 1), ('N', 1), ('.', 1), ('A', 2), ('(', 2), (')', 2)]
[(' ', 20), ('(', 2), (')', 2), (',', 4), ('.', 1), ('A', 2), ('I', 3), ('M', 1), ('N', 1), ('a', 11)]

In [47]:
from collections import defaultdict
defaultdict(list)

defaultdict(list, {})

In [56]:
# 
d = {}
price = [
    ("apple",  50),
    ("banana", 120),
    ("grape",  500),
    ("apple",  70),
    ("lemon",  150),
    ("grape",  1000)
]

for key, value in price:
    #-
    if key in d:
        d[key].append(value)
    else:
        d[key] = [value]
        
print(d)

{'apple': [50, 70], 'banana': [120], 'grape': [500, 1000], 'lemon': [150]}

In [54]:
from collections import defaultdict

#
price = [
    ("apple", 50),
    ("banana", 120),
    ("grape", 500),
    ("apple", 70),
    ("lemon", 150),
    ("grape", 1000)
]

#
d = defaultdict(list)

#add values
for key, value in price:
    d[key].append(value)
print(d)

#-- average,, 
print([sum(x)/len(x) for x in d.values()])

defaultdict(<class 'list'>, {'apple': [50, 70], 'banana': [120], 'grape': [500, 1000], 'lemon': [150]})
[60.0, 120.0, 750.0, 150.0]

In [56]:
#
from collections import Counter

# 딕셔너리 요소의 출현 횟수를 기록합니다
lst = ["foo", "bar", "pop", "pop", "foo", "popo"]
d = Counter(lst)
print(d)

Counter({'foo': 2, 'pop': 2, 'bar': 1, 'popo': 1})

In [58]:
#--
d = Counter("A Counter is a dict subclass for counting hashable objects.")

#
print(d.most_common(5))
print(d.most_common(1))

[(' ', 9), ('s', 6), ('o', 4), ('t', 4), ('a', 4)]
[(' ', 9)]

In [63]:
from collections import Counter

#
description = \
"Artificial intelligence (AI, also machine intelligence, MI) is " + \
"intelligence exhibited by machines, rather than " + \
"humans or other animals (natural intelligence, NI)." 

#
char_freq = Counter(description)

#
print(char_freq.most_common(10))

[(' ', 20), ('e', 18), ('i', 17), ('n', 14), ('l', 12), ('a', 11), ('t', 10), ('c', 7), ('h', 7), ('r', 6)]

###  연습 문제

In [64]:
# if / lambda를 사용
# (if a<8: *5,  if a>=8: /2)
a = 8
basic = lambda x: x*5 if x<8 else x/2
print('계산 결과')
print(basic(a))

계산 결과
4.0

In [66]:
import re

#--
time_list = [
    "2018/1/23_19:40",
    "2016/5/7_5:25",
    "2018/8/21_10:50",
    "2017/8/9_7:5",
    "2015/4/1_22:15"
]

#-- month
get_month = lambda x: int(re.split("[/_:]",x)[1])

# 각 요소의 "월"을 꺼내 배열로 만듭니다
month_list = list(map(get_month, time_list))

# 출력하세요
print()
print('월')
print(month_list)

월
[1, 5, 8, 8, 4]

In [67]:
#-
length = [ 3,  1,  6,  2,  8,  2,  9]
side   = [ 4,  1, 15, 18,  7,  2, 19]
height = [10, 15, 17, 13, 11, 19, 18]

#
volume = [x * y * z for x, y,z in zip(length, side, height)]

#
print()
print('부피')
print(volume)

부피
[120, 15, 1530, 468, 616, 76, 3078]

In [68]:
#-
from collections import defaultdict
from collections import Counter

#
price = [
    ("strawberry", 520),
    ("pear",       200),
    ("peach",      400),
    ("apple",      170),
    ("lemon",      150),
    ("grape",      1000),
    ("strawberry", 750),
    ("pear",       400),
    ("peach",      500),
    ("strawberry", 70),
    ("lemon",      300),
    ("strawberry", 700)
]

#-
d = defaultdict(list)

#-
price_key_count = []
for key, value in price:
    d[key].append(value)
    price_key_count.append(key)

#-
print()
print('average of value')
print([sum(x)/len(x) for x in d.values()])

#-
key_count = Counter(price_key_count)
print()
print('과일 이름')
print(key_count)

average of value
[510.0, 300.0, 450.0, 170.0, 225.0, 1000.0]

과일 이름
Counter({'strawberry': 4, 'pear': 2, 'peach': 2, 'lemon': 2, 'apple': 1, 'grape': 1})