In [1]:
print("hello world")

hello world

In [4]:
# comment
print (3+5)

8

In [6]:
# aa
print("3-5")

3-5

In [13]:
# 3+5
print (3+5)
print (3**2)
print (13 % 5)
print (13/5)

8
9
3
2.6

In [15]:
n = "cat"
print (n)

cat

In [16]:
x = 1
print(x)
x = x + 1
print (x)

1
2

In [17]:
x=5
x *= 2
print(x)

10

In [19]:
m = "cat"
print (m)
m = "dog"
print (m)

n=4
print(n)

#n = n*5
n *= 5

print (n)

cat
dog
4
20

In [20]:
m = "park"
print ("my name is" + m + " ~~")

my name ispark ~~

In [22]:
p = "seoul"
print (p)
print ("I am come from " + p)

seoul
I am come from seoul

In [24]:
height = 177.
type (height)

float

In [25]:
str_1 = "akdkd"
type (str_1)

str

In [26]:
h=177
print (str(h))

177

In [27]:
a = 35.32
b = 2
print (a+b)

37.32

In [1]:
h = 1.7
w=60
bmi = w /h**2
print (bmi)

20.761245674740486

In [2]:
print (str(bmi
        ))

20.761245674740486

In [3]:
type (str(bmi
         ))

str

In [4]:
greeting = "hi"

In [5]:
print (2* greeting
      )

hihi

In [6]:
print (int(30))

30

In [7]:
print(int(101010))

101010

In [11]:
print (1+1!=     3)

True

In [12]:
print (4+6 != -3)

True

In [14]:
n =2
if n==2:
    print ("dkdkd")

dkdkd

In [17]:
aa = "cat"
if aa=="cata":
    print ("same")
else :
    print ("not same")

not same

In [21]:
n = 11
if n>15:
    
    print ("big number")
else :
    print ("small number")

small number

In [24]:
number = 12
if number == 1:
    print ("num 1")
elif number == 2:
    print ("num 2")
elif number == 3:
    print ("num 3")
else:
    print ("else number")

else number

In [26]:
n = 12
if n >15:
    print ("big num")
elif n>=11 and n<=15:
    print ("middle bum")
else:
    print ("small num")

middle bum

In [33]:
#
n = 1
print ((n>8 and n<20))

False

In [34]:
print (n**2 > n*5)

False

In [38]:
year = 2000
if ((year%400 !=0) and (year%100 ==0)):
    print ("year is normal")
elif (year %4 ==0):
    print ("yuen")
else :
    print ("year is yeun")

yuen