## Chapter 5.  파이썬 기본 문법

In [131]:
c = ["read", "blue", "yellow"]
type(c)

list

In [132]:
print (type(c))

<class 'list'>

In [133]:
n=3
print (["apple", n, "monkey"])

['apple', 3, 'monkey']

In [134]:
apple  = 4
grape  = 3
banana = 6

fruits = [apple, grape, banana]
print (fruits)

[4, 3, 6]

In [135]:
f_1 = "apple"
f_2 = "pear"
f_3 = "orange"
ff = [[f_1, f_2], [f_2, f_3]]
print (ff)

[['apple', 'pear'], ['pear', 'orange']]

In [136]:
a = [1, 2, 3, 4]
print (a[1])
print (a[-2])

2
3

In [137]:
fr = [f_1, f_2, f_3]
print (fr[1])
print (fr[-1])
print (fr[2])

pear
orange
orange

In [138]:
alp = ["a","b","c","d","e","f","g","h"]
print (alp[1:5])
print (alp[1:-5])
print (alp[:5])
print (alp[6:])
print (alp[0:25])
print (alp[-5])

['b', 'c', 'd', 'e']
['b', 'c']
['a', 'b', 'c', 'd', 'e']
['g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
d

In [139]:
alp[0] = "z"
print (alp)

['z', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

### List Append

In [140]:
alp = alp + ["x"]
print(alp)
alp.append("x")
print(alp)

['z', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'x']
['z', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'x', 'x']

### List Delete

In [141]:
del alp[3:]
print(alp)
del alp[0]
print(alp)

['z', 'b', 'c']
['b', 'c']

### List value 복사(대입)시 주의점

In [142]:
alp = ["a","b","c","d","e","f","g","h"]
ap = alp
ap[0] = "K"
print (alp)

['K', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [1]:
alp = ["a","b","c","d","e","f","g","h"]
#ap = alp[:]
ap = list(alp)
ap[0] = "K"
print (alp)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

### Dictionary

In [144]:
dic = {"Japan":"Tockyo", "Korea":"Seoul"}
print(dic)
print (type(dic))
print (dic["Korea"])
print("capital of Jappan is " + dic["Japan"] + "~~~")

{'Japan': 'Tockyo', 'Korea': 'Seoul'}
<class 'dict'>
Seoul
capital of Jappan is Tockyo~~~

In [145]:
dic["Japan"] = "osaka"
dic["China"] = "Beijin"
print (dic)

{'Japan': 'osaka', 'Korea': 'Seoul', 'China': 'Beijin'}

In [146]:
dic2 = {"aa":"aaa", "bb":"bbb"}
dic2["aa"] = "aaaa"
dic2 = {"cc":"ccc"}
print(dic2)

{'cc': 'ccc'}

In [147]:
print(dic2)

{'cc': 'ccc'}

In [148]:
dic3 = {"Japan":"Tockyo", "Korea":"Seoul"}
dic3["Japan"] = "aa"
print(dic3)

{'Japan': 'aa', 'Korea': 'Seoul'}

In [149]:
dic3["China"] = "Beijin"
print (dic3)

{'Japan': 'aa', 'Korea': 'Seoul', 'China': 'Beijin'}

In [150]:
del dic3["Korea"]
print (dic3)

{'Japan': 'aa', 'China': 'Beijin'}

### While Loop

In [151]:
n = 2
while n>0:
    print(n)
    n -= 1

2
1

In [152]:
x=5
while x!=0:
    x -= 1
    print(x)

4
3
2
1
0

In [153]:
x=5
while x!=0:
    x -= 1
    if x!=0:
        print(x)
    else:
        print("Bang")

4
3
2
1
Bang

### For loop

In [154]:
animals = ["tiger", "doc", "elephant"]
for ani in animals:
    print (ani)

tiger
doc
elephant

### Break

In [155]:
storages = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in storages:
    print (n)
    if n>=5:
        print("end")
        break

1
2
3
4
5
end

### Continue

In [156]:
storages = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for n in storages:
    if n==5:
        continue
    print (n)

1
2
3
4
6
7
8
9
10

In [157]:
list = ["a", "b"]
for idx, value in enumerate(list):
    print (idx, value)

0 a
1 b

In [158]:
animals = ["tiger", "doc", "elephant"]
for ani, value in enumerate(animals):
    print (ani, value)

0 tiger
1 doc
2 elephant

In [159]:
ll = [[1,2,3],[4,5,6],[7,8,9]]
print (ll)
for a,b,c in ll:
    print(a,b,c)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1 2 3
4 5 6
7 8 9

### List loop in List

In [160]:
ll = [[1,2],[4,5],[7,8]]
print (ll)
for a,b in ll:
    print(str(a) + " is " + str(b))

[[1, 2], [4, 5], [7, 8]]
1 is 2
4 is 5
7 is 8

### Dictionary loop

In [161]:
fr = {"1":"one", "2":"two", "3":"tree"}
for num, eng in fr.items():
    print(num + " is " + eng)

1 is one
2 is two
3 is tree

In [162]:
it = {"one":[100, 2], "two":[200,3], "tree":[400,5]}
total_price = 0
for product in it:
    print (product)
    print(product + "은 한개에 "+ str(it[product][0]) + "원이며, "+ str(it[product][1]) + "개")
    total_price  += it[product][0] * it[product][1]
print("total is " + str(total_price))

money = 1000
if money>total_price:
    print("plus : " + str(money-total_price) +"~~")
elif money==total_price:
    print("same")
else:
    print("minus : " + str(total_price-money))

    
print(it["one"][0], it["one"][1])

one
one은 한개에 100원이며, 2개
two
two은 한개에 200원이며, 3개
tree
tree은 한개에 400원이며, 5개
total is 2800
minus : 1800
100 2