## len

In [7]:
len('aaa')

3

In [8]:
len("aaa")

3

In [9]:
len([1,2,3])

3

In [10]:
len(3)
len(2.1)
len(True)

TypeError: object of type 'int' has no len()

In [11]:
vege = "potato"
n = [4,5,6,7,6]

In [12]:
len(vege)

6

In [13]:
len(n)

5

## append

In [14]:
alphabet = ["a","b","c","d","e"]
alphabet.append("f")
print(alphabet)

['a', 'b', 'c', 'd', 'e', 'f']

## sorted

In [11]:
number = [1,5,3,4,2]
print(sorted(number))
print(number)

[1, 2, 3, 4, 5]
[1, 5, 3, 4, 2]

## cf.  sort  ,,, 
#### destructive method !

In [13]:
number = [1,5,3,4,2]
number.sort()
print(number)

[1, 2, 3, 4, 5]

In [18]:
alphabet = ["b","a","e","c","d"]
sorted(alphabet)
print(alphabet)

['b', 'a', 'e', 'c', 'd']

In [19]:
alphabet = ["b","a","e","c","d"]
alphabet.sort()
print(alphabet)

['a', 'b', 'c', 'd', 'e']

## upper, count

In [17]:
city = "Tokyo"
print(city.upper())
print(city.count("o"))

TOKYO
2

In [18]:
animal = "elephant"
animal_big = animal.upper()
print (animal)
print(animal_big)

elephant
ELEPHANT

In [19]:
print(animal.count("e"))

2

## format

In [20]:
print("{}는 {}입니다" .format("Banana", "Yellow"))

Banana는 Yellow입니다

In [21]:
fruit = "apple"
color = "red"
print ("{} is {}" .format(fruit, color))

apple is red

## index

In [21]:
alphabet = ["a","b","c","d","e"]
print(alphabet.index("a"))
print(alphabet.index("d"))
print(alphabet.count("d"))

0
3
1

In [23]:
n = [3,6,8,6,3,2,4,6]
print(n.index(2))
print(n.count(6))

5
3

## sort

In [31]:
#lisr
list = [1,10,2,20]
list.sort()
print(list)

[1, 2, 10, 20]

In [35]:
#reverse
list.reverse()
print(list)

[20, 10, 2, 1]

In [36]:
n = [53,26,37,69,24,2]
n.sort()
print(n)

[2, 24, 26, 37, 53, 69]

In [37]:
n.reverse()
print(n)

[69, 53, 37, 26, 24, 2]

## function

In [38]:
def sing():
    print("aaaa")
sing()

aaaa

In [41]:
def introduce():
    print("I am hong")
    
introduce()

I am hong

## parameter

In [47]:
def introduce2(n):
    print(n + " is what")
    
introduce2("3")

3 is what

In [48]:
def introduce3(n):
    print(n + 10)
    
introduce3(3)

13

In [50]:
def mul2(n):
    print(n*n)

def mul3(n):
    print(n**3)
    
mul2(3)
mul3(3)

9
27

In [51]:
def intro(n1, n2):
    print("first: " + n1, "second: " + n2 + " end")

intro("aaa", "bbb")

first: aaa second: bbb end

In [53]:
def f1(n, age):
    print ("I am " + n + ".  " + str(age) + " years old")
    
f1("mx", 22)

I am mx.  22 years old

In [56]:
def f2(name="max", age=3):
    print("name:" + name + " age: " + str(age) )
    
f2("aa")
f2("a",33)

name:aa age: 3
name:a age: 33

## return

In [60]:
def f3(n1="Park", n2="Max"):
    v_return = "name is " + n1 + " " + n2
    return v_return

print(f3("kim"))

name is kim Max

In [61]:
def cal(w, h):
    bmi = w / h**2
    return bmi

cal(3,2)

0.75

In [65]:
cal(65, 1.65)

23.875114784205696

## function import

In [66]:
import time
now_time = time.time()
print (now_time)

1587212108.3373592

### from PACKAGE import MODULE

In [67]:
from time import time
now_time2 = time()
print (now_time2)

1587212202.1309047

# CLASS,  Variables(Member), Function(Method)

In [87]:
class myprod:
    def __init__(self, name, price, stock):
        self.name = name
        self.price = price
        self.stock = stock
        self.sales = 0
        
product1 = myprod("cake", 10, 5)
print(product1.stock)

5

In [118]:
class MyProduct:
    def __init__(self, name, price, stock):
        self.name = name
        self.price = price
        self.stock = stock
        self.sales = 0
        
    def buy_up(self, n):
        self.stock += n
        
    def sell(self, n):
        self.stock -= n
        self.sales += n*self.price
    
        
    def get_name(self):
        return self.name
    
    def discount(self, n):
        self.price -= n
        
        
    def summary(self):
        message = "summary(). \n name: " + self.name + \
        "\n price: " + str(self.price) + \
        "\n stock: " + str(self.stock) + \
        "\n sales: " + str(self.sales)
        print(message)
          
product_2 = MyProduct("phone", 30000, 100, 1)
product_2.discount(5000)
product_2.summary()

TypeError: __init__() takes 4 positional arguments but 5 were given

## Class inheritance, override,,

In [123]:
class MyProductSalesTax(MyProduct):
    def __init__(self, name, price, stock, tax_rate):
        super().__init__(name, price, stock)
        self.tax_rate = tax_rate
        
    def get_name(self):
        return self.name + " include tax"
    
    def discount(self, n):
        self.price -= n
        
    def get_price_with_tax(self):
        return int(self.price * (1+self.tax_rate))
        
        
    def summary(self):
        message = "summary(). \n name: " + self.name + \
        "\n [price]: " + str(self.price) + \
        "\n [stock]: " + str(self.stock) + \
        "\n [sales]: " + str(self.sales)
        print(message)

In [124]:
product_3 = MyProductSalesTax("phone", 30000, 100, 0.1)
print(product_3.get_name())
print(product_3.get_price_with_tax())
product_3.summary()

phone include tax
33000
summary().
 name: phone
 [price]: 30000
 [stock]: 100
 [sales]: 0

## String format

In [125]:
pi = 3.141592
print("pi : %f" % pi)
print("pi2: %d" % pi)
print("pi3: %.2f" %pi)

pi : 3.141592
pi2: 3
pi3: 3.14

In [127]:
def bmi(h, w):
    return w / h**2
print("BMI is %.4f" % bmi(1.65, 65))

BMI is 23.8751

In [130]:
def chk_character(obj, character):
    return obj.count(character)

print(chk_character([1,3,4,5,6,4,3,2,1,3,3,4,3,], 3))
print(chk_character("adakdidekfiddfdwqlksjd", "d"))

5
7

## Binary Search

In [133]:
def binary_search(numbers, target_number):
    min = 0
    max = len(numbers)
    while min <= max:
        mid = (min+max)//2
        if numbers[mid]==target_number:
            print("{1} is {0}" .format(mid, target_number))
            break
        elif numbers[mid]<target_number:
            min = mid+1
        else:
            max = mid -1
            
    
    
    
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
target_number = 10
binary_search(numbers, target_number)

10 is 9