# PANDAS 기초

### Series, Dataframe

In [1]:
import pandas as pd

In [2]:
fruits = {"orange":2, "banana":3}
print(pd.Series(fruits))

orange    2
banana    3
dtype: int64

In [5]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"], "year":[2001,2002,2001,2008,2006],"time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print(df)
print(pd.Series(data))

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
fruits    [apple, orange, banana, strawberry, kiwifruit]
year                      [2001, 2002, 2001, 2008, 2006]
time                                     [1, 4, 5, 6, 3]
dtype: object

In [8]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)

In [9]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"], "year":[2001,2002,2001,2008,2006],"time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print("Series Data")
print(series)
print("\n")
print("DataFrame Data")
print(df)

Series Data
apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64


DataFrame Data
       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [10]:
fruits = {"banana":3, "orange":2}
print(pd.Series(fruits))

banana    3
orange    2
dtype: int64

In [16]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

In [18]:
series = pd.Series(data, index=index)
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

## 참조

In [23]:
fruits = {"banana":3, "orange":4, "grape":1, "peach":5}
series = pd.Series(fruits)
print(series[0:2])

banana    3
orange    4
dtype: int64

In [24]:
print(series[["orange", "peach"]])

orange    4
peach     5
dtype: int64

In [29]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)
items1 = series[1:4]
print(items1)
print()
items2 = series[["apple", "banana", "kiwifruit"]]
print(items2)

orange         5
banana         8
strawberry    12
dtype: int64

apple        10
banana        8
kiwifruit     3
dtype: int64

### 데이터와 인덱스 추출

In [30]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)
series_values = series.values
series_index = series.index
print(series_values)
print(series_index)

[10  5  8 12  3]
Index(['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], dtype='object')

### 요소 추가

In [5]:
import pandas as pd
fruits = {"banana" : 3, "orange": 2}
series = pd.Series(fruits)
series = series.append(pd.Series([3], index=["grape"]))

In [8]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)
pineapple = pd.Series([12], index=["pineapple"])
series = series.append(pineapple)
print(series)
series = series.drop("strawberry")
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
pineapple     12
dtype: int64
apple        10
orange        5
banana        8
kiwifruit     3
pineapple    12
dtype: int64

## 필터링

In [11]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)

conditions = [True, True, False, False, False]
print(series[conditions])
print(series[series >5])
print(series[series >=5][series<10])

apple     10
orange     5
dtype: int64
apple         10
banana         8
strawberry    12
dtype: int64
orange    5
banana    8
dtype: int64

## 정렬

In [13]:
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)

#
items1 = series.sort_index()

items2 = series.sort_values()


print(items1)
print()
print(items2)

apple         10
banana         8
kiwifruit      3
orange         5
strawberry    12
dtype: int64

kiwifruit      3
orange         5
banana         8
apple         10
strawberry    12
dtype: int64

## DataFrame

In [14]:
data = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "year":[2001, 2002, 2001, 2008, 2006]
       }
df = pd.DataFrame(data)
print(df)

       fruits  year
0       apple  2001
1      orange  2002
2      banana  2001
3  strawberry  2008
4   kiwifruit  2006

In [16]:
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,5,8,12,3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)


df = pd.DataFrame([series1, series2]) 

print(df)

   apple  orange  banana  strawberry  kiwifruit
0     10       5       8          12          3
1     30      25      12          10          8

## 행 추가

In [17]:
data = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "time":[1, 4, 5, 6, 3]
       }
df = pd.DataFrame(data)
series = pd.Series(["mango",2008, 7], index=["fruits", "year", "time"])
df = df.append(series, ignore_index=True)
print(df)

       fruits  time    year
0       apple     1     NaN
1      orange     4     NaN
2      banana     5     NaN
3  strawberry     6     NaN
4   kiwifruit     3     NaN
5       mango     7  2008.0

In [19]:
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,  5,  8, 12,  3]
data2 = [30, 25, 12, 10,  8]
data3 = [30, 12, 10,  8, 25, 3]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

#
index.append("pineapple")
series3 = pd.Series(data3, index=index)
df = pd.DataFrame([series1, series2])

df = df.append(series3, ignore_index=True)
print(df)

   apple  orange  banana  strawberry  kiwifruit  pineapple
0     10       5       8          12          3        NaN
1     30      25      12          10          8        NaN
2     30      12      10           8         25        3.0

### 열추가

In [20]:
data = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "year":[2001, 2002, 2001, 2008, 2006],
    "time":[1, 4, 5, 6, 3]
       }
df = pd.DataFrame(data)
df["price"] = [150, 120, 100, 300, 150]
print(df)

       fruits  year  time  price
0       apple  2001     1    150
1      orange  2002     4    120
2      banana  2001     5    100
3  strawberry  2008     6    300
4   kiwifruit  2006     3    150

In [22]:
import pandas as pd

index = ["apple","orange","banana","strawberry","kiwifruit"]
data1 = [10,  5,  8, 12,  3]
data2 = [30, 25, 12, 10,  8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

new_column = pd.Series([15,7], index=[0, 1])
#
df = pd.DataFrame([series1, series2])

df["mango"] = new_column
print(df)

   apple  orange  banana  strawberry  kiwifruit  mango
0     10       5       8          12          3     15
1     30      25      12          10          8      7

## 데이터 참조

In [23]:
data = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "year":[2001, 2002, 2001, 2008, 2006],
    "time":[1, 4, 5, 6, 3]
       }
df = pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [24]:
df = df.loc[[1,2],["time", "year"]]
print(df)

   time  year
1     4  2002
2     5  2001

In [26]:
import numpy as np
import pandas as pd
np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

#
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)

#
df.index = range(1, 11)

df = df.loc[range(2,6), ["banana","kiwifruit"]]

print(df)

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

In [27]:
import pandas as pd

data = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "year":[2001, 2002, 2001, 2008, 2006],
    "time":[1, 4, 5, 6, 3]
       }
df = pd.DataFrame(data)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [28]:
df = df.iloc[[1,3],[0,2]]
print(df)

       fruits  time
1      orange     4
3  strawberry     6

In [29]:
import numpy as np
import pandas as pd
np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

#
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)

#
df.index = range(1, 11)

df = df.iloc[range(1,5), [2,4]]

print(df)

   banana  kiwifruit
2      10         10
3       9          1
4      10          5
5       5          8

### 행 또는 열 삭제

In [30]:
import pandas as pd

data = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "year":[2001, 2002, 2001, 2008, 2006],
    "time":[1, 4, 5, 6, 3]
       }
df = pd.DataFrame(data)
df1 = df.drop(range(0,2))
df2 = df.drop("year", axis=1)
print(df1)
print()
print(df2)

       fruits  year  time
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

       fruits  time
0       apple     1
1      orange     4
2      banana     5
3  strawberry     6
4   kiwifruit     3

In [32]:
import numpy as np
import pandas as pd
np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

#
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)

#
df.index = range(1, 11)

# 2~10,, step2
df = df.drop(np.arange(2, 11, 2))

df = df.drop("strawberry", axis=1)

print(df)

   apple  orange  banana  kiwifruit
1      6       8       6         10
3      4       9       9          1
5      8       2       5          8
7      4       8       1          3
9      3       9       6          3

## 정렬

In [33]:
import pandas as pd

data = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "year":[2001, 2002, 2001, 2008, 2006],
    "time":[1, 4, 5, 6, 3]
       }
df = pd.DataFrame(data)
print(df)

df = df.sort_values(by="year", ascending=True)
print(df)

df = df.sort_values(by=["time","year"], ascending=True)
print(df)

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
       fruits  year  time
0       apple  2001     1
2      banana  2001     5
1      orange  2002     4
4   kiwifruit  2006     3
3  strawberry  2008     6
       fruits  year  time
0       apple  2001     1
4   kiwifruit  2006     3
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6

In [34]:
import numpy as np
import pandas as pd
np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

#
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)

#
df.index = range(1, 11)

df = df.sort_values(by=columns)
print(df)

    apple  orange  banana  strawberry  kiwifruit
2       1       7      10           4         10
9       3       9       6           1          3
7       4       8       1           4          3
3       4       9       9           9          1
4       4       9      10           2          5
10      5       2       1           2          1
8       6       8       4           8          8
1       6       8       6           3         10
5       8       2       5           4          8
6      10       7       4           4          4

### 필터링

In [35]:
import pandas as pd

data = {
    "fruits":["apple","orange","banana","strawberry","kiwifruit"],
    "year":[2001, 2002, 2001, 2008, 2006],
    "time":[1, 4, 5, 6, 3]
       }
df = pd.DataFrame(data)

print(df.index%2==0)
print()
print(df[df.index%2==0])

[ True False  True False  True]

      fruits  year  time
0      apple  2001     1
2     banana  2001     5
4  kiwifruit  2006     3

In [37]:
import numpy as np
import pandas as pd

np.random.seed(0)
columns = ["apple","orange","banana","strawberry","kiwifruit"]

#
df = pd.DataFrame()
for column in columns:
    df[column] = np.random.choice(range(1,11),10)

print(df)    
    
df = df.loc[df["apple"]>=5]
df = df.loc[df["kiwifruit"]>=5]

print(df)

   apple  orange  banana  strawberry  kiwifruit
0      6       8       6           3         10
1      1       7      10           4         10
2      4       9       9           9          1
3      4       9      10           2          5
4      8       2       5           4          8
5     10       7       4           4          4
6      4       8       1           4          3
7      6       8       4           8          8
8      3       9       6           1          3
9      5       2       1           2          1
   apple  orange  banana  strawberry  kiwifruit
0      6       8       6           3         10
4      8       2       5           4          8
7      6       8       4           8          8

In [39]:
import pandas as pd
import numpy as np

index = ["growth","mission","ishikawa","pro"]
data = [50,  7,  26, 1]

#
series = pd.Series(data, index=index)

#
aidemy = series.sort_index()

#
aidemy1 = pd.Series([30], index=["tutor"])
aidemy2 = series.append(aidemy1)
#
print(aidemy)
print()
print(aidemy2)

df = pd.DataFrame()
for index in index:
    df[index] = np.random.choice(range(1,11),10)

df.index = range(1,11)

aidemy3 = df.loc[range(2,6),["ishikawa"]]
print()
print(aidemy3)

growth      50
ishikawa    26
mission      7
pro          1
dtype: int64

growth      50
mission      7
ishikawa    26
pro          1
tutor       30
dtype: int64

   ishikawa
2         4
3         6
4        10
5         5