# PANDAS 기초

### Series, Dataframe

In [1]:
import pandas as pd

In [2]:
fruits = {"orange":2, "banana":3}
print(pd.Series(fruits))

orange    2
banana    3
dtype: int64

In [5]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"], "year":[2001,2002,2001,2008,2006],"time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print(df)
print(pd.Series(data))

       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3
fruits    [apple, orange, banana, strawberry, kiwifruit]
year                      [2001, 2002, 2001, 2008, 2006]
time                                     [1, 4, 5, 6, 3]
dtype: object

In [8]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)

In [9]:
data = {"fruits":["apple","orange","banana","strawberry","kiwifruit"], "year":[2001,2002,2001,2008,2006],"time":[1,4,5,6,3]}
df = pd.DataFrame(data)
print("Series Data")
print(series)
print("\n")
print("DataFrame Data")
print(df)

Series Data
apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64


DataFrame Data
       fruits  year  time
0       apple  2001     1
1      orange  2002     4
2      banana  2001     5
3  strawberry  2008     6
4   kiwifruit  2006     3

In [10]:
fruits = {"banana":3, "orange":2}
print(pd.Series(fruits))

banana    3
orange    2
dtype: int64

In [16]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

In [18]:
series = pd.Series(data, index=index)
print(series)

apple         10
orange         5
banana         8
strawberry    12
kiwifruit      3
dtype: int64

## 참조

In [23]:
fruits = {"banana":3, "orange":4, "grape":1, "peach":5}
series = pd.Series(fruits)
print(series[0:2])

banana    3
orange    4
dtype: int64

In [24]:
print(series[["orange", "peach"]])

orange    4
peach     5
dtype: int64

In [29]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)
items1 = series[1:4]
print(items1)
print()
items2 = series[["apple", "banana", "kiwifruit"]]
print(items2)

orange         5
banana         8
strawberry    12
dtype: int64

apple        10
banana        8
kiwifruit     3
dtype: int64

### 데이터와 인덱스 추출

In [30]:
index = ["apple","orange","banana","strawberry","kiwifruit"]
data = [10,5,8,12,3]
series = pd.Series(data, index=index)
series_values = series.values
series_index = series.index
print(series_values)
print(series_index)

[10  5  8 12  3]
Index(['apple', 'orange', 'banana', 'strawberry', 'kiwifruit'], dtype='object')

### 요소 추가